@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-22 00:44:01
 * @version $Id$
 */

.container{
	line-height: 40px;
	max-width: 400px;
	text-align: center;
	margin-top: 150px;
	color: orange;
}

.txt{
	height: 30px;
}

.btn{
	position: relative;
	top: 50px;
	background: none;
	/*border: 1px solid orange;*/
}